@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-neutral-light;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #f8fafc;
}
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e40af;
}